.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 11px; */
  /* border: 1px solid red; */
  /* background-color: rgb(61, 56, 1); */
  background-color: #066880;
}
.nav-container .logo {
  padding-left: 11px;
  font-size: 1.3rem;
  font-weight: 700;
  color: #f0f0f0;
  font-family: 'Courier New', Courier, monospace;
}
.nav-container .logo h1 a {
  text-decoration: none;
  color: #f0f0f0;
}
.nav-container .nav {
  display: flex;
  gap: 21px;
  /* border: 1px solid red; */
  padding: 11px;
}
.nav-container .nav a {
  padding: 9px;
  text-decoration: none;
  /* background-color: rgba(225, 45, 45, 0.744); */
  /* color: rgb(61, 56, 1); */
  background-color: #f0f0f0;
  color: #333;
  font-weight: 700;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
