.form-container {
    margin: 21px auto;
    width: 421px;
    background-color: #066880;
    padding: 21px;
}
.form-container h3 {
  text-align: center;
  color: #f0f0f0;
  margin-bottom: 21px;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-container form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-container form .align {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
}
.form-container form h1 {
  color: #f0f0f0;
  margin-bottom: 21px;
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.form-container form .align input {
    width: 350px;
    padding: 11px;
    margin-bottom: 11px;
}
.form-container form .align button {
    width: 350px;
    margin-top: 21px;
    padding: 11px;

  color: #333;
  /* margin-bottom: 21px; */
  font-size: 1.2rem;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form-container form .align label {
  color: #f0f0f0;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.error {
    color: rgb(239, 150, 150);
}